.black-navbar-color {
    background-color: black;
}
 .navbar-nav .nav-link {
    color: white;
 }
 .navbar-nav .nav-link.active {
    color: white !important;
 }
 .navbar-toggler {
    border-color: white !important;
 }
 
 ul {
    padding-left: 250px;
 }
 li {
    padding-left: 250px;
 }