.black-navbar-color {
    background-color: black;
}
 .navbar-nav .nav-link {
    color: white;
 }
 .navbar-nav .nav-link.active {
    color: white !important;
 }
 .navbar-toggler {
    border-color: white !important;
 }
 
 ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 0;

 }
 li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 0;
 }

 @media (min-width: 992px) {
    ul {
        padding-left: 100px;
    }

    li {
        padding-left: 100px;
    }
}

 @media (max-width: 991.98px) {
    .navbar-collapse.show .navbar-nav,
    .navbar-collapse.show .nav-item,
    .navbar-collapse.show .nav-link {
        padding-left: 0 !important;
    }

    
}
 
